package config

const (
  TelegramBotAPI = "https://api.telegram.org/bot"
  TelegramBotToken = ""
  TelegramBotUrl = TelegramBotAPI + TelegramBotToken
  NUSWhispersAPI = "http://www.nuswhispers.com/api"
)
